<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bike.bikeuser.mapper.UserMapper">
    <insert id="insertUserByAccountAndPassword" parameterType="com.bike.bikecommon.entity.User">
        insert into user(account, password, nickname)
        values (#{account}, #{password}, "若人生只如初见")
    </insert>
    <insert id="insertUser" parameterType="com.bike.bikecommon.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">
                account,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="nickname != null and nickname != ''">
                nickname,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">
                #{account},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
        </trim>
    </insert>
    <delete id="deleteUserById" parameterType="com.bike.bikecommon.entity.User">
        delete
        from user
        where id = #{id}
    </delete>
    <update id="updateUserById" parameterType="com.bike.bikecommon.entity.User">
        update user set
        <trim suffixOverrides=",">
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </trim>
        where id = #{id}
    </update>
    <select id="selectUserById" parameterType="com.bike.bikecommon.entity.User"
            resultType="com.bike.bikecommon.entity.User">
        select *
        from user
        where id = #{id}
    </select>
    <select id="selectUserByAccount" parameterType="com.bike.bikecommon.entity.User"
            resultType="com.bike.bikecommon.entity.User">
        select *
        from user
        where account = #{account}
    </select>
    <select id="selectUserByAccountAndPassword" resultType="com.bike.bikecommon.entity.User">
        select id, nickname, account
        from user
        where account = #{account}
          and password = #{password}
    </select>
    <select id="selectUserList" resultType="com.bike.bikecommon.entity.User">
        select *
        from user
    </select>
    <select id="selectUserListByAttribute" parameterType="com.bike.bikecommon.entity.User"
            resultType="com.bike.bikecommon.entity.User">
        select * from user where
        <trim suffixOverrides="and">
            <if test="account != null and account != ''">
                account = #{account} and
            </if>
            <if test="name != null and name != ''">
                name like "%"#{name}"%"
            </if>
        </trim>
    </select>
</mapper>